:root {
  --multiplier: 1.25;
  --text-base: 18px; /* body, h6 */
  --text-lg: calc(var(--multiplier) * var(--text-base)); /* h5 */
  --text-xl: calc(var(--multiplier) * var(--text-lg)); /* h4 display-sub-sans */
  --text-2xl: calc(
    var(--multiplier) * var(--text-xl)
  ); /* h3, dusplay-sub-serif */
  --text-3xl: calc(var(--multiplier) * var(--text-2xl)); /* h2 */
  --text-4xl: calc(var(--multiplier) * var(--text-3xl)); /* h1 */
  --text-5xl: calc(var(--multiplier) * var(--text-4xl)); /* display-small */
  --text-6xl: calc(var(--multiplier) * var(--text-5xl)); /* display-medium */
  --text-7xl: calc(var(--multiplier) * var(--text-6xl)); /* display-big */
}
/* hierarchy */

body {
  font-size: var(--text-base);
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
}
h6 {
  font-size: var(--text-base);
}
h5 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-2xl);
}
h2 {
  font-size: var(--text-3xl);
}
h1 {
  font-size: var(--text-4xl);
}
.display-big {
  font-size: var(--text-7xl);
  font-weight: 800;
  letter-spacing: -0.2rem;
}
.display-sub-serif {
  font-size: var(--text-2xl);
}

.display-sub-sans {
  font-size: 2.5rem;
}

/* fonts types */
h1,
h2,
h3 {
  font-family: 'Roboto Serif', serif;
}
