body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  background-image: url('img/headerback.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: white;
  text-shadow: 1px 1px black;
}

main {
  padding: 100vh 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}
